<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b5add4f-4450-4521-9d7f-6bae2ca6e8bf" Alias="dan-cristian-padure-pHw08h_EvO4-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/danCristianPadurePHw08h_EvO4Unsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T12:56:49</CreateDate>
    <NodeName Default="dan-cristian-padure-pHw08h_EvO4-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yalbzhjz/dan-cristian-padure-phw08h_evo4-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>