<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d26d231-e8d1-4bd9-ac74-3cb8542f5861" Alias="nuxt-icon-white.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nuxtIconWhitepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T14:50:48</CreateDate>
    <NodeName Default="nuxt-icon-white.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xymgbw3y/umbraco_250314_0481.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>