<?xml version="1.0" encoding="utf-8"?>
<Media Key="de091431-a5ec-48a5-83da-17c849fa61e7" Alias="umbraco-11-login-screen-illustration.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbraco11LoginScreenIllustrationwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-14T14:31:16</CreateDate>
    <NodeName Default="umbraco-11-login-screen-illustration.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x1pe40ef/umbraco-11-login-screen-illustration.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>