<?xml version="1.0" encoding="utf-8"?>
<Content Key="35a65b13-4b94-4830-a6ca-53bc9f321544" Alias="kjeldsen.dev" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kjeldsendev</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-03-25T19:12:39</CreateDate>
    <NodeName Default="kjeldsen.dev" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1",
      "key": "05bdc085-a99b-418c-bafd-df8862e64c27",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://github.com/kasparboelkjeldsen/kjeldsen.dev/\u0022 title=\u0022github.com\u0022 type=\u0022external\u0022\u003ESteal my code\u003C/a\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1495d116-fbc6-4c94-905d-65c841fe85d0",
      "key": "a1c37bff-6301-4d8a-91c0-2c26ee428c3e",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cf4bdd49-8b65-4441-9ed1-bab4da29f863",
              "mediaKey": "347678a6-6237-4eb4-850e-8893b230861d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "05bdc085-a99b-418c-bafd-df8862e64c27",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1c37bff-6301-4d8a-91c0-2c26ee428c3e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "05bdc085-a99b-418c-bafd-df8862e64c27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 6,
        "contentKey": "a1c37bff-6301-4d8a-91c0-2c26ee428c3e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <links>
      <Value><![CDATA[[
  {
    "name": "Kjeldsen.dev",
    "target": null,
    "udi": "umb://document/35a65b134b944830a6ca53bc9f321544",
    "url": null,
    "queryString": null
  },
  {
    "name": "Blog",
    "target": null,
    "udi": "umb://document/0b1658c6b85949e9b4f1a213a1a69c48",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </links>
    <noSlug>
      <Value><![CDATA[]]></Value>
    </noSlug>
    <seoDescription>
      <Value><![CDATA[Nuxt blog]]></Value>
    </seoDescription>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[Kjeldsen.dev]]></Value>
    </seoTitle>
  </Properties>
</Content>