<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f00bfa01-d3ba-4604-9560-ececa895b5c8" Alias="Test Block -  - Email Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>