<?xml version="1.0" encoding="utf-8"?>
<DataType Key="338ca1cc-6b88-4c65-826b-43aa99636487" Alias="Test Block -  - Decimal Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>