<?xml version="1.0" encoding="utf-8"?>
<DataType Key="081c1193-e7cc-4833-820a-722730c65550" Alias="Test Block -  - User Picker Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - User Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UserPicker</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>