<?xml version="1.0" encoding="utf-8"?>
<Media Key="db9d110e-7241-47a5-ad26-1f94b295fe7b" Alias="icon-green.svg" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/iconGreensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-29T13:50:21</CreateDate>
    <NodeName Default="icon-green.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5swd4ok0/icon-green.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>