<?xml version="1.0" encoding="utf-8"?>
<Content Key="a326e37f-c298-40ae-a418-90492a6124a9" Alias="Nested Hell" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NestedHell</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-21T12:55:17</CreateDate>
    <NodeName Default="Nested Hell" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "28fd7acc-0f3a-4228-bcdc-bdc86e2ee7a5",
      "key": "c1c1ee35-6965-4e46-acfb-50107a7de528",
      "udi": null,
      "values": [
        {
          "alias": "dropDown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "s1"
          ]
        },
        {
          "alias": "nested",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "28fd7acc-0f3a-4228-bcdc-bdc86e2ee7a5",
                "key": "a66f3ff5-ecd0-4503-aabc-fe4f48ad8f61",
                "udi": null,
                "values": [
                  {
                    "alias": "dropDown",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "s2"
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a66f3ff5-ecd0-4503-aabc-fe4f48ad8f61",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a66f3ff5-ecd0-4503-aabc-fe4f48ad8f61",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c1c1ee35-6965-4e46-acfb-50107a7de528",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c1c1ee35-6965-4e46-acfb-50107a7de528",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </block>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <noSlug>
      <Value><![CDATA[0]]></Value>
    </noSlug>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>