<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8dcb828-10fd-47d5-a5c0-14028cf095de" Alias="Test Block -  - Eye Dropper Color Picker Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Eye Dropper Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>