<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="250a89df-e1db-4816-af5f-0c0a05a3f738" Alias="blogPostPage" Level="2">
  <Info>
    <Name>Blog Post Page</Name>
    <Icon>icon-script color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="220e0edd-dcfb-43d4-a5c3-e8d24299c465">headlessComposition</Composition>
      <Composition Key="e16f6e05-1b5a-46b5-a525-420595a71720">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="250a89df-e1db-4816-af5f-0c0a05a3f738" SortOrder="0">blogPostPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>093bea6b-10a9-4d2c-9953-d4906ee62703</Key>
      <Name>Block</Name>
      <Alias>block</Alias>
      <Definition>b4c603d4-ecb5-42ca-a01e-a652dc77fe75</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f99191ed-cc45-46b0-a6db-cb029f7a98b6</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>475d7db3-8fd4-41c9-b98d-a50547358bfb</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8351bf59-b6af-4797-a0ba-51d918cd3e41</Key>
      <Name>RTE</Name>
      <Alias>rte</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f9c13da-0a91-44b7-98d9-9d19397adf71</Key>
      <Name>Writer</Name>
      <Alias>writer</Alias>
      <Definition>be3e6eef-549d-452e-b9d8-7f6968b7eb74</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19c29f43-2b91-43de-a47e-586aa5ba6d2e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>8764fe3e-636b-4df8-bc57-1bf0ee64372e</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>