<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3883ab69-d0a0-4456-98f6-fe8dc1e00b51" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages</Folder>
    <Compositions>
      <Composition Key="220e0edd-dcfb-43d4-a5c3-e8d24299c465">headlessComposition</Composition>
      <Composition Key="49801980-98bf-4e08-bdff-529466c33508">navigationComposition</Composition>
      <Composition Key="e16f6e05-1b5a-46b5-a525-420595a71720">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="58bbd526-b23d-4586-a47a-4d4a75128c2e" SortOrder="0">blogPostContainerPage</ContentType>
    <ContentType Key="0a1332c8-69aa-4f74-8238-bd6dbca65ffc" SortOrder="1">writerContainerPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4303a427-1331-42c9-8511-4802dddf09c5</Key>
      <Name>Grid</Name>
      <Alias>grid</Alias>
      <Definition>475d7db3-8fd4-41c9-b98d-a50547358bfb</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3f369b0f-3ee6-48a3-af15-8826046f9b25</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>