<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1f4b3c5-ec13-49bf-9cce-997e79a34756" Alias="writers" Level="2">
  <Info>
    <Parent Key="35a65b13-4b94-4830-a6ca-53bc9f321544">kjeldsen.dev</Parent>
    <Path>/kjeldsendev/writers</Path>
    <Trashed>false</Trashed>
    <ContentType>writerContainerPage</ContentType>
    <CreateDate>2025-04-22T20:22:20</CreateDate>
    <NodeName Default="writers" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>