<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b88b3ee3-6609-4134-9391-3da42ccf6eaf" Alias="Test Block -  - Slider Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Slider Property Editor UI</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>