<?xml version="1.0" encoding="utf-8"?>
<Content Key="df0c2388-df3c-4126-bc32-640f87a66292" Alias="Kaspar Boel Kjeldsen" Level="3">
  <Info>
    <Parent Key="a1f4b3c5-ec13-49bf-9cce-997e79a34756">writers</Parent>
    <Path>/kjeldsendev/writers/KasparBoelKjeldsen</Path>
    <Trashed>false</Trashed>
    <ContentType>writer</ContentType>
    <CreateDate>2025-04-22T20:22:38</CreateDate>
    <NodeName Default="Kaspar Boel Kjeldsen" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <luckyNumber>
      <Value><![CDATA[]]></Value>
    </luckyNumber>
    <writerName>
      <Value><![CDATA[Kaspar Boel Kjeldsen]]></Value>
    </writerName>
  </Properties>
</Content>