<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e0ba821-d743-44f5-b7f9-d3c6d452bcbe" Alias="236211cf-d5cb-482a-ad2e-ff846eb53ac6.png" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/cfD5cb482aAd2eFf846eb53ac6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-20T20:54:33</CreateDate>
    <NodeName Default="236211cf-d5cb-482a-ad2e-ff846eb53ac6.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vzre10bk/20240310_160106.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>