<?xml version="1.0" encoding="utf-8"?>
<Media Key="347678a6-6237-4eb4-850e-8893b230861d" Alias="qrcode.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/qrcodepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T15:00:23</CreateDate>
    <NodeName Default="qrcode.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fgzdbas4/umbraco_250314_0481.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>