<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bc534a4-181e-4c06-b876-cf3fe98770b3" Alias="umc.png" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/umcpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-29T14:29:25</CreateDate>
    <NodeName Default="umc.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fp5ih5lx/umc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>