<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1" Alias="blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-20T19:54:28</CreateDate>
    <NodeName Default="blog" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>