<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71eb439e-025e-4a11-9080-d25729546422" Alias="Test Block -  - Block List Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "387fbbea-8c41-4019-ac76-c3e6e590f6e1"
    }
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>