<?xml version="1.0" encoding="utf-8"?>
<Media Key="51324403-69db-408a-84d0-39e50ddd4c17" Alias="premium_photo-1683121713210-97667d2e83c8.avif" Level="2">
  <Info>
    <Parent Key="b5e95cf5-708f-4edb-867e-382e3a9c36f1">blog</Parent>
    <Path>/blog/premium_photo168312171321097667d2e83c8avif</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-04-29T13:56:27</CreateDate>
    <NodeName Default="premium_photo-1683121713210-97667d2e83c8.avif" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4awmt2p2/premium_photo-1683121713210-97667d2e83c8.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>