<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58bbd526-b23d-4586-a47a-4d4a75128c2e" Alias="blogPostContainerPage" Level="3">
  <Info>
    <Name>Blog Post Container Page</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages/containers</Folder>
    <Compositions>
      <Composition Key="220e0edd-dcfb-43d4-a5c3-e8d24299c465">headlessComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="250a89df-e1db-4816-af5f-0c0a05a3f738" SortOrder="0">blogPostPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>