<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5358434e-cec6-4ec6-bb34-3c7a665281c6" Alias="Test Block -  - Code Editor Property Editor UI" Level="2">
  <Info>
    <Name>Test Block -  - Code Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>test</Folder>
  </Info>
  <Config><![CDATA[{
  "height": 400,
  "language": "javascript",
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": false
}]]></Config>
</DataType>