<?xml version="1.0" encoding="utf-8"?>
<DataType Key="891d6979-f27d-4f49-8f65-967732e425b9" Alias="UFMTest - Grid - Block List" Level="1">
  <Info>
    <Name>UFMTest - Grid - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3b9b6601-c1dc-4108-baf9-faec910a7949",
      "label": "UFM {=text}"
    }
  ]
}]]></Config>
</DataType>