<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2141137-be99-4a84-9551-5942d89cdbcd" Alias="Skærmbillede 2025-04-11 202210.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Skaermbillede20250411202210png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-18T20:53:39</CreateDate>
    <NodeName Default="Skærmbillede 2025-04-11 202210.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xdnfezhq/umbraco_250314_0481.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>