<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8ba319b-6b1e-47ce-a268-63917507848f" Alias="lucky number" Level="3">
  <Info>
    <Name>lucky number</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>custom/numeric</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 100,
  "min": 1,
  "step": 1
}]]></Config>
</DataType>