<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93bf1469-8ad6-4028-9aa4-c244df501994" Alias="NestedHell - Nested - Block List" Level="1">
  <Info>
    <Name>NestedHell - Nested - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "28fd7acc-0f3a-4228-bcdc-bdc86e2ee7a5"
    }
  ]
}]]></Config>
</DataType>