<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dee80b0e-ca78-42dd-a87a-0a30ab35a7c2" Alias="page cache toggle" Level="3">
  <Info>
    <Name>page cache toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>custom/toggle</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "Don\u0027t cache the page",
  "labelOn": "Cache the page",
  "showLabels": true
}]]></Config>
</DataType>