<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a1332c8-69aa-4f74-8238-bd6dbca65ffc" Alias="writerContainerPage" Level="3">
  <Info>
    <Name>Writer Container Page</Name>
    <Icon>icon-paper-plane color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>pages/containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fdbde3f0-98a5-4d44-96f1-817f7cb485dd" SortOrder="0">writer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>