<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be3e6eef-549d-452e-b9d8-7f6968b7eb74" Alias="blog post content picker" Level="3">
  <Info>
    <Name>blog post content picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>custom/content-picker</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "0ec00cc1-d04b-48e7-875d-486c144ad23f,fdbde3f0-98a5-4d44-96f1-817f7cb485dd",
  "maxNumber": 1,
  "minNumber": 1
}]]></Config>
</DataType>