<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6c5a914-9773-46e0-8921-e0d9fc1538e6" Alias="Test 2" Level="4">
  <Info>
    <Parent Key="1d649970-2c0a-4df0-8422-94492edf6e9f">Test</Parent>
    <Path>/kjeldsendev/blog/Test/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2025-05-14T13:29:41</CreateDate>
    <NodeName Default="Test 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[]]></Value>
    </block>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[]]></Value>
    </grid>
    <noSlug>
      <Value><![CDATA[]]></Value>
    </noSlug>
    <rte>
      <Value><![CDATA[]]></Value>
    </rte>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <writer>
      <Value><![CDATA[umb://document/df0c2388df3c4126bc32640f87a66292]]></Value>
    </writer>
  </Properties>
</Content>