<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d612148-b2a2-4ee5-8ee2-42999c0d0ad4" Alias="Umbraco Flavored Markdown Bug" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoFlavoredMarkdownBug</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2026-02-20T10:31:18</CreateDate>
    <NodeName Default="Umbraco Flavored Markdown Bug" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[]]></Value>
    </block>
    <cachePage>
      <Value><![CDATA[1]]></Value>
    </cachePage>
    <childKeys>
      <Value><![CDATA[0]]></Value>
    </childKeys>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3b9b6601-c1dc-4108-baf9-faec910a7949",
      "key": "80b7238d-10ea-4f73-bc74-7776d980a218",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "80b7238d-10ea-4f73-bc74-7776d980a218",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "80b7238d-10ea-4f73-bc74-7776d980a218",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </grid>
    <links>
      <Value><![CDATA[]]></Value>
    </links>
    <noSlug>
      <Value><![CDATA[0]]></Value>
    </noSlug>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoListImage>
      <Value><![CDATA[]]></Value>
    </seoListImage>
    <seoPublishingDate>
      <Value><![CDATA[]]></Value>
    </seoPublishingDate>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
  </Properties>
</Content>